.chessBoard{
    width: 400px;
    height: 400px;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}