.chessTile{
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
}

.whiteTile{
    background: linear-gradient(to top right, silver, white, silver);
    color: black;
}
.blackTile{
    /* background-color: rgb(128, 39, 39); */
    background: linear-gradient(to top right, black, rgba(163, 163, 163, 0.651), black);
    color: black;
}
.chessTile .chessPiece{
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}
.chessTile .chessPiece:hover{
    cursor: grab;
}
.chessTile .chessPiece:active{
    cursor: grabbing;
}

.chessTileHighlight:not(.chessPieceTile)::before{
    position: absolute;
    content: " ";
    width: 35px;
    height: 35px;
    -webkit-box-shadow: inset 0 0 35px rgba(0, 255, 98, 0.767);
    -moz-box-shadow: inset 0 0 35px rgba(0, 255, 98, 0.767);
    box-shadow: inset 0 0 35px rgba(0, 255, 98, 0.787);
    background-color: transparent;
}
.chessTileHighlight.chessPieceTile::before{
    position: absolute;
    content: " ";
    width: 35px;
    height: 35px;
    -webkit-box-shadow: inset 0 0 35px rgba(255, 0, 0, 0.519);
    -moz-box-shadow: inset 0 0 35px rgba(255, 0, 0, 0.519);
    box-shadow: inset 0 0 35px rgba(255, 0, 0, 0.519);
    background-color: transparent;
}
/* ==== SMALL DEVICES ==== */
@media screen and (min-width: 500px) and (max-width: 768px){
    .chessTile{
        width: 50px;
        height: 50px;
    }
    .chessTile .chessPiece{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
    }
    .chessTileHighlight:not(.chessPieceTile)::before{
        width: 50px;
        height: 50px;
        -webkit-box-shadow: inset 0 0 50px rgba(0, 255, 98, 0.767);
        -moz-box-shadow: inset 0 0 50px rgba(0, 255, 98, 0.767);
        box-shadow: inset 0 0 50px rgba(0, 255, 98, 0.787);
        background-color: transparent;
    }
    .chessTileHighlight.chessPieceTile::before{
        width: 50px;
        height: 50px;
        -webkit-box-shadow: inset 0 0 50px rgba(255, 0, 0, 0.519);
        -moz-box-shadow: inset 0 0 50px rgba(255, 0, 0, 0.519);
        box-shadow: inset 0 0 50px rgba(255, 0, 0, 0.519);
        background-color: transparent;
    }
}
/* ==== MEDIUM DEVICES ==== */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .chessTile{
        width: 75px;
        height: 75px;
    }
    .chessTile .chessPiece{
        width: 75px;
        height: 75px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 65px;
    }
    .chessTileHighlight:not(.chessPieceTile)::before{
        width: 75px;
        height: 75px;
        -webkit-box-shadow: inset 0 0 75px rgba(0, 255, 98, 0.767);
        -moz-box-shadow: inset 0 0 75px rgba(0, 255, 98, 0.767);
        box-shadow: inset 0 0 75px rgba(0, 255, 98, 0.787);
        background-color: transparent;
    }
    .chessTileHighlight.chessPieceTile::before{
        width: 75px;
        height: 75px;
        -webkit-box-shadow: inset 0 0 75px rgba(255, 0, 0, 0.519);
        -moz-box-shadow: inset 0 0 75px rgba(255, 0, 0, 0.519);
        box-shadow: inset 0 0 75px rgba(255, 0, 0, 0.519);
        background-color: transparent;
    }
}
/* ==== LARGE DEVICES ==== */
@media screen and (min-width: 1024px) {
    .chessTile{
        width: 100px;
        height: 100px;
    }
    .chessTile .chessPiece{
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80px;
    }
    .chessTileHighlight:not(.chessPieceTile)::before{
        width: 100px;
        height: 100px;
        -webkit-box-shadow: inset 0 0 100px rgba(0, 255, 98, 0.767);
        -moz-box-shadow: inset 0 0 100px rgba(0, 255, 98, 0.767);
        box-shadow: inset 0 0 100px rgba(0, 255, 98, 0.787);
        background-color: transparent;
    }
    .chessTileHighlight.chessPieceTile::before{
        width: 100px;
        height: 100px;
        -webkit-box-shadow: inset 0 0 100px rgba(255, 0, 0, 0.519);
        -moz-box-shadow: inset 0 0 100px rgba(255, 0, 0, 0.519);
        box-shadow: inset 0 0 100px rgba(255, 0, 0, 0.519);
        background-color: transparent;
    }
}