.chessTile{
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
}

.whiteTile{
    background-color: rgb(132, 133, 133);
    color: black;
}
.blackTile{
    background-color: rgb(94, 44, 44);
    color: black;
}
.chessTile .chessPiece{
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}
.chessTile .chessPiece:hover{
    cursor: grab;
}
.chessTile .chessPiece:active{
    cursor: grabbing;
}

/* ==== SMALL DEVICES ==== */
@media screen and (min-width: 500px) and (max-width: 768px){
    .chessTile{
        width: 50px;
        height: 50px;
    }
    .chessTile .chessPiece{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
    }
}
/* ==== MEDIUM DEVICES ==== */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .chessTile{
        width: 75px;
        height: 75px;
    }
    .chessTile .chessPiece{
        width: 75px;
        height: 75px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 65px;
    }
}
/* ==== LARGE DEVICES ==== */
@media screen and (min-width: 1024px) {
    .chessTile{
        width: 100px;
        height: 100px;
    }
    .chessTile .chessPiece{
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80px;
    }
}