.slideContainer{
    width: 100%;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    background-color: #ad13d3cc;
    font-family: Pixel;
}
.slideContainer a{
    text-decoration: none;
}
.slideContainer:hover{
    cursor: pointer;
}
.slideImage{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.slideLink{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.904);
}
.carousel.carousel-slider .control-arrow{
    border-radius: 25px;
}
