.klotskiTile{
    position: absolute;
    list-style: none;
    background-color: #851400e5;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    
    
}
.klotskiTile:hover{
    cursor: pointer;
}
.klotskiHole{
    opacity: 0;
}