.wordleBoard {
    width: 100vw;
    border: 1px solid black;
    flex-direction: column;
    
}
.wordleRow {
    flex: 33%;
    gap: 2px;
    height: 3rem;
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.wordleLetter{
    flex: 33%;
    height: 100%;
    border: 1px solid grey;
    margin: 5px;
    display: grid;
    
    place-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    font-family: Instrument;
    box-shadow: 2px 0.5px rgba(255,255,255, 0.5);
}

/* ==== SMALL DEVICES ==== */
@media screen and (min-width: 500px) and (max-width: 768px){
    .wordleRow{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .wordleLetter{
        font-size: 1.75rem;
    }
}
/* ==== MEDIUM DEVICES ==== */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .wordleRow{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .wordleLetter{
        font-size: 2rem;
    }
}
/* ==== LARGE DEVICES ==== */
@media screen and (min-width: 1024px) {
    .wordleRow{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .wordleLetter{
        font-size: 2.25rem;
    }
}