.wordle{
    text-align: center;
    background-color: #121212;
    width: 100vw;
    height: 100vh;
    color: #FFF;
    margin: 0;
    padding-bottom: 10rem;
}

.wordleNav{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wordleNav h1{
    margin: 0;
    font-family: Monoton, cursive;
    color: white;
    font-size: 2rem;
}
.wordleGame {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}





/* ==== SMALL DEVICES ==== */
@media screen and (min-width: 500px) and (max-width: 768px){
    .wordleNav h1{
        font-size: 2.25rem;
    }
    
}
/* ==== MEDIUM DEVICES ==== */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .wordleNav h1{
        font-size: 2.25rem;
    }
}
/* ==== LARGE DEVICES ==== */
@media screen and (min-width: 1024px) {
    .wordleNav h1{
        font-size: 2.5rem;
    }
}