.homePage{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20rem;
}

.homeTitle{
    width: 100%;
    font-family: PressStart, cursive;
    background: linear-gradient(to right, #ff0000 0%, #0105f7 10%, #78f701 20%, #f701ba 30%, #01f7eb 40%, #9d01f7 50%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 0%;
}
.homeTitle h1{
    font-size: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===== GAMES LINK SECTION ==== */
.gamesLinkContainer{
    margin-top: 1.5rem;
    font-family: Videophreak, cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.gamesLinkHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
}
.gamesLinkHeader h3{
    letter-spacing: 1.5px;
}

/* ===== THEME SELECTION ==== */
.themeSelection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.themeHeader{
    display: flex;
    font-family: Videophreak, cursive;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.themeHeader h3{
    letter-spacing: 1.5px;
}
.themeButtonContainer{
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 0.5rem;
}


/* ==== SMALL DEVICES ==== */
@media screen and (min-width: 500px) and (max-width: 768px){
    .homeTitle h1{
        font-size: 3rem;
    }
    .gamesLinkHeader{
        font-size: 2.25rem;
    }
    .themeHeader{
        font-size: 2.25rem;
    }
    .themeButtonContainer{
        grid-template-columns:  1fr 1fr;
    }
    
}
/* ==== MEDIUM DEVICES ==== */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .homeTitle h1{
        font-size: 3.75rem;
    }
    .gamesLinkHeader{
        font-size: 2.5rem;
    }
    .themeHeader{
        font-size: 2.5rem;
    }
    .themeButtonContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}
/* ==== LARGE DEVICES ==== */
@media screen and (min-width: 1024px) {
    .homeTitle h1{
        font-size: 4.rem;
    }
    .themeButtonContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
