.homePage{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20rem;
}

.homeTitle{
    width: 100%;
    font-family: PressStart, cursive;
    background: linear-gradient(to right, #ff0000 0%, #0105f7 10%, #78f701 20%, #f701ba 30%, #01f7eb 40%, #9d01f7 50%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 0%;
}
.homeTitle h1{
    font-size: 2.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gamesLinkContainer{
    margin-top: 2rem;
    font-family: PressStart, cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.gamesLinkTitle{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
}



/* ==== SMALL DEVICES ==== */
@media screen and (min-width: 500px) and (max-width: 768px){
    .homeTitle h1{
        font-size: 3rem;
    }
    .gamesLinkTitle{
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }
}
/* ==== MEDIUM DEVICES ==== */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .homeTitle h1{
        font-size: 3.75rem;
    }
    .gamesLinkTitle{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
}
/* ==== LARGE DEVICES ==== */
@media screen and (min-width: 1024px) {
    .homeTitle h1{
        font-size: 4.rem;
    }
}
