.gameChoicesContainer{
    width: 90%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr ;
}

/* ==== SMALL DEVICES ==== */
@media screen and (min-width: 500px) and (max-width: 768px){
    .gameChoicesContainer{
        grid-template-columns: 1fr 1fr;
        gap: 1.25rem;
    }
}
/* ==== MEDIUM DEVICES ==== */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .gameChoicesContainer{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
    }
}
/* ==== LARGE DEVICES ==== */
@media screen and (min-width: 1024px) {
    .gameChoicesContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.75rem;
    }
}
