.cardContainer{
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    background-color: #ad13d3cc;
    font-family: Pixel;
}
.cardContainer a{
    text-decoration: none;
}
.cardContainer:hover{
    cursor: pointer;
}
.cardImage{
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.cardLink{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.904);
}