/* === BREAKPOINTS === */
/*
sm: min-width: 640px
md: min-width: 768px
lg: min-width: 1024px
xl: min-width: 1280px
*/

/* ====== FONTS ====== */
@font-face {
  font-family: 'Pixel';
  src: url('assets/fonts/Pixel-LCD-7.woff') format('woff');
}
@font-face {
  font-family: 'PressStart';
  src: url('assets/fonts/PressStart2P-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Monoton';
  src: url('assets/fonts/Monoton-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Instrument';
  src: url('assets/fonts/InstrumentSerif-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  src: url('assets/fonts/Raleway-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Videophreak';
  src: url('assets/fonts/Videophreak.woff') format('woff');
}
@font-face {
  font-family: 'AstronBoy';
  src: url('assets/fonts/AstronBoyRg-Regular.woff') format('woff');
}

body {
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Raleway, sans-serif;
  
}



.cyberApp{
  background-image: url('./assets/imgs/cyberBG.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.retroApp{
  background-image: url('./assets/imgs/darkBGlandscape.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modernApp{
  background-image: url('./assets/imgs/neonBg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}